.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 30px;
    margin: 10px;
    gap: 30px;
    background-color: blanchedalmond;
}

.box {
    background-color: aquamarine;
    padding: 30px;
    font-size: 30px;
}